<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#FF6B9D">
    <meta name="color-scheme" content="light dark">
    <title>SLURDLE</title>
    <link rel="stylesheet" href="/harrystyles.css">
</head>
<body>
<main>
    <h1>SLURDLE</h1>
    <% if (slursList.length > 0) { %>
        <div class="prompt">
            <span>Which group does</span><em id="correct-term"><%= correctSlur.term.toLowerCase() %></em>
            <span>target?</span>
        </div>
        <form id="slur-form" method="POST" action="/check-answer" class="form-container">
            <input type="hidden" name="sessionId" value="<%= sessionId %>">
            <ul id="slur-list">
                <% slursList.forEach((item, index) => { %>
                    <li>
                        <label>
                            <input type="radio" name="selectedIndex" value="<%= index %>">
                            <%= item.targets %>
                        </label>
                    </li>
                <% }) %>
            </ul>
            <button type="submit" class="submit-button">Submit Answer</button>
        </form>

        <div id="result"></div>
    <% } else { %>
        <p>No slurs found.</p>
    <% } %>
</main>
<script src="/app.js"></script>
</body>
</html>
