<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Test page</h1>
<p>Hello</p>
<form action="/form-endpoint" method="post">
    <label for="age">Age: </label><input type="text" name="age" id="age">
    <input type="submit" value="Send form">
</form>

</body>
</html>
